{% extends 'theme.html' %}



{% block content %}

<a href="/photo/naruto">
    <img class="photo" src="/static/images/11.jpg" alt="naruto" width="190">
</a>

<a href="/photo/saitama">
    <img class="photo" src="/static/images/22.jpg" alt="saitama" width="190">
</a>

<a href="/photo/luffy">
    <img class="photo" src="/static/images/33.jpg" alt="naruto" width="190">
</a>

<a href="/photo/tanjiro">
    <img class="photo" src="/static/images/44.jpg" alt="tanjiro" width="190">
</a>

<a href="/photo/natsu">
    <img class="photo" src="/static/images/55.jpg" alt="natsu" width="190">
</a>

{% endblock content %}